/* You can add global styles to this file, and also import other style files */
.container { margin-left: auto; margin-right: auto; }
@media only screen and (max-width: 767px) { .container { max-width: 100%; } }
@media only screen and (min-width: 768px) { .container { max-width: 740px; } }
@media only screen and (min-width: 992px) { .container { max-width: 980px; } }
@media only screen and (min-width: 1200px) { .container { max-width: 1140px; } }
@media only screen and (min-width: 1400px) { .container { max-width: 1320px; } }

body{
    margin: 0;
    background-color: #09111a;
    background-image: url("./assets/background.jpg");
    background-attachment: fixed;
    backdrop-filter: blur(4px);
}

a{
    text-decoration: none;
    color: var(--cyan-300 );
}

@import url('./assets/flags/style.scss');